#Pic {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 3em;
  }
  
  #Pic #one {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #one,#two,#three{
    border: 2px solid gray;
    border-radius: 15px;
  }
  
  .Text {
    position: absolute;
    font-size: xx-large;
    color: deeppink;
  }
  
  .Traval {
    color: orangered;
  }
  #twoText{
    position: relative;
    bottom: 9em;
    font-size: large;
  }
  #twoText .Text{
    font-size: 22px;
    text-shadow:3px 2px 10px rgb(112, 111, 111) ;
    font-weight: 700;
  }
  .Text .Travel{
    font-size: 22px;
    color: rgb(40, 68, 224);
  }
  #oneText{
    position: relative;
    bottom: 14em;
    width: 100%;
  }
  #oneText .Text{
    font-size: 28px;
    text-shadow:3px 2px 10px rgb(112, 111, 111) ;
    font-weight: 700;
    padding: 5px;
  }
  
  @media screen and (max-width:400px) {
    #mediaTop{
      position: relative;
      bottom: 70px;
    }
    #oneText .Text{
      font-size: 16px;
      text-shadow:3px 2px 10px rgb(112, 111, 111) ;
      font-weight: 700;
      padding: 5px;
    }
    #oneText{
      position: relative;
      bottom: 10em;
      right: 34px;
      padding: 5px;
    }
    #one,#two,#three{
      border:none;
    }
  }
  