#flexBlog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#Blog{
    width: 360px;
    overflow:hidden;
    border: 1px solid rgb(173, 171, 171);
}
#BlogContent{
    padding: 10px;
}
@media screen and (max-width:400px) {
    #flexBlog{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        row-gap: 10px;
    }
    #latest{
        position: relative;
        bottom: 70px;
    }
    #img1{
        display: none;
    }
}